.folder-tree {
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;

  .folder {
    border-radius: 1em;

    &:hover > div {
      --hover-color-text: darkslateblue;
      text-shadow:
        0 0 3px white,
        0 0 5px var(--hover-color-text),
        0 0 10px var(--hover-color-text),
        0 0 15px var(--hover-color-text),
        0 0 20px var(--hover-color-text),
        0 0 30px var(--hover-color-text),
        0 0 50px var(--hover-color-text);
    }
  }

  .item {
    border-radius: 1em;

    &:hover {
      box-shadow: 0 0 10px 2px darkslateblue;
    }
  }

  .item-disabled {
    color: grey;
  }

  .tooltip .tooltiptext {
    text-align: left;
  }

  .right-side {
    font-size: 1em;
    font-style: italic;
  }
}
