#main-grid {
  /* Position (center on page) */
  margin: auto;
  margin-top: 1em;
  width: 100%;

  /* Position (contents) */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(500px, 100vw), 1fr));
  grid-gap: 1em;
  align-items: flex-start;
}

#main-body {
  margin: auto;
  width: 100%;
}

.grid-card {
  /* Position */
  --card-max-height: calc(var(--app-height) - 4em);
  max-height: var(--card-max-height);
  display: flex;
  flex-flow: column;
  position: relative; /* Needed for contents */

  /* Appearance - Border */
  --border-color: darkslateblue;
  border-style: solid;
  border-width: 2px;
  border-radius: var(--border-radius);
  border-color: var(--border-color);
  box-shadow: 0 0 10px 2px var(--border-color);
}

.card-title {
  /* Position */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 0px;
  margin: 10px;
  padding: 10px;

  /* Appearance */
  font-family: 'Roboto Condensed', sans-serif;
  border-radius: var(--border-radius);
  background-color: darkslateblue;
  cursor: pointer;

  h2 {
    margin: 0px 20px; /* space to right for collapse caret */
    text-align: center;
  }

  &:hover {
    --hover-color-text: darkcyan;
    --hover-color-border: cyan;
    box-shadow: 0 0 10px 2px var(--hover-color-border);
    text-shadow:
      0 0 5px var(--hover-color-text),
      0 0 10px var(--hover-color-text),
      0 0 15px var(--hover-color-text),
      0 0 20px var(--hover-color-text),
      0 0 30px var(--hover-color-text),
      0 0 50px var(--hover-color-text);
  }

  .collapse-caret {
    position: absolute;
    right: 10px;
    transform: rotate(-0deg);
    transition: transform 0.2s linear;
    user-select: none;

    &.open {
      transform: rotate(-180deg);
    }
  }
}

.collapse-content {
  position: relative;
  overflow-y: auto;
  max-height: var(--card-max-height);
  transition: max-height 400ms;
  /* Gradient for overflow */
  /* --gradient-height: 20px;
  --mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black var(--gradient-height),
    black calc(100% - var(--gradient-height)),
    transparent 100%
  );
  -webkit-mask-image: var(--mask-image);
  mask-image: var(--mask-image); */

  &::-webkit-scrollbar {
    display: none;
  }
}

.scroll-arrow {
  /* Position */
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
  display: block;

  /* Appearance */
  width: 100px;
  height: 30px;
  background-color: darkslateblue;
  opacity: 0.8;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

@media (max-width: 800px) {
  #main-grid {
    margin-top: 0.5em; /* no glow border, so reduce */
    grid-gap: 0px; /* no glow border, so reduce */
  }

  .grid-card {
    border-width: 0px; /* no glow border - reduce y space */
    box-shadow: none;
  }
}
