header {
  position: relative;
  display: block;
  width: 100%;
}

#header-logo-img {
  /* Position */
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 250px;
  max-width: calc(100% - 20px); /* otherwise, extends past viewport when narrow (mobile) */
  padding: 5px;

  /* Appearance - Glow */
  --header-title-img-glow: drop-shadow(0 0 30px purple);
  -webkit-filter: var(--header-title-img-glow);
  filter: var(--header-title-img-glow);
}

#header-right {
  /* Position */
  position: absolute;
  right: 20px;
  bottom: 0px;

  /* Appearance */
  text-align: right;
}

#social-links {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 0.4em;

  .circle {
    /* Position (Centered) */
    --circle-size: 2em;
    height: var(--circle-size);
    width: var(--circle-size);

    /* Appearance (Icon */
    font-size: 1.5em;
    background-image: linear-gradient(
      rgb(0 0 0/30%) 0 0
    ); /* Make the background dark unless hovered */

    svg {
      font-size: 1em;
    }

    &:hover {
      background-image: none; /* Full color on hover */
      box-shadow: 0 0 20px yellow;

      svg {
        font-size: 1.2em;
      }
    }
  }
}

#bio {
  /* Position */
  margin-top: 0.5em;
  margin-bottom: 0.5em;

  /* Appearance */
  color: grey;
  font-family: 'Outfit', sans-serif;
  line-height: 1.5em;
}

#click-below {
  /* Position */
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.5em;

  /* Appearance */
  color: orange;
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.5em;
  --hover-color-text: darkslateblue;
  text-shadow:
    0 0 5px var(--hover-color-text),
    0 0 10px var(--hover-color-text),
    0 0 15px var(--hover-color-text),
    0 0 20px var(--hover-color-text),
    0 0 30px var(--hover-color-text),
    0 0 50px var(--hover-color-text);
}

@media (max-width: 1200px) {
  #header-right {
    /* Position */
    position: relative;
    margin-left: auto;
    margin-right: auto;
    right: auto;
    line-height: 1em;

    /* Appearance */
    text-align: center;
  }
  #header-logo-img {
    max-width: calc(85%);
  }
  #social-links {
    justify-content: center;
  }
}
