@import 'scrollbar.css';
@import 'header.css';
@import 'grid.css';
@import 'sc-track.css';
@import 'sc-player.css';
@import 'tree.css';
@import 'folder-tree.css';
@import 'tooltip.css';

/* General */

:root {
  --app-height: 100%;
  --border-radius: 20px;

  /* Colors */
  --soundcloud: rgb(242, 111, 35);
  --twitter: rgb(29, 161, 242);
  --instagram: rgb(193, 53, 132);
  --reddit: rgb(255, 86, 0);
  --facebook: rgb(66, 103, 178);
}

body {
  background-color: black;
  color: white;
  font-family: tahoma, sans-serif;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.2em;
}

a {
  text-decoration: none;
  cursor: alias;
}

a:link,
a:visited {
  color: inherit;
}

.hidden {
  max-height: 0px;
}

.display-none {
  display: none;
}

.circle {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.soundcloud {
  background-color: var(--soundcloud);
}

.twitter {
  background-color: var(--twitter);
}

.instagram {
  background-color: var(--instagram);
}

.reddit {
  background-color: var(--reddit);
}

.facebook {
  background-color: var(--facebook);
}

.email {
  background-color: grey;
}

.shadow-cyan {
  --shadow-color: cyan;
  text-shadow:
    0 0 5px black,
    0 0 5px var(--shadow-color),
    0 0 10px var(--shadow-color),
    0 0 15px var(--shadow-color),
    0 0 30px var(--shadow-color);
}

@media (max-width: 800px) {
  html,
  body {
    overflow-x: hidden;
    margin: 0;
  }
}
