.sc-player {
  display: flex; /* Enables flexbox */
  align-items: center; /* Aligns items vertically */
  height: 100px;
  position: relative;
}

.sc-iframe-wrapper {
  /* Position */
  position: relative;
  width: 100%;
  height: 80px; /* Hide bottom of iframe */
  overflow: hidden; /* Hide the excess iframe */

  /* Appearance */
  border-radius: var(--border-radius);

  iframe {
    /* Position */
    position: relative;
    top: -60px; /* Hide top of iframe */

    /* Appearance */
    filter: invert(100%) hue-rotate(180deg);
  }

  &:hover {
    height: 90px;
  }

  &.playing {
    height: 90px;
    box-shadow: 0 0 10px 2px cyan;
  }
}

.play-button {
  position: absolute;
  top: 0.3em;
  left: 0px;
  z-index: 1;
  cursor: pointer;

  &:hover .play-button-icon {
    filter: saturate(160%);
  }

  .play-button-icon {
    /* Position */
    position: absolute;
    top: 0;
    left: 0;

    /* Appearance */
    color: var(--soundcloud);
    background: none;
    border: none;
    font-size: 2.5em;
  }

  .play-button-background {
    /* Position */
    position: absolute;
    top: 0.1em;
    left: 0.1em;
    z-index: -1;

    /* Appearance */
    color: white;
    background: none;
    border: none;
    font-size: 2.2em;
  }
}

.sc-stats {
  /* Position */
  position: absolute;
  top: 0.7em;
  right: 4.25em;
  padding: 0.15em 0.3em;
  display: inline-flex;
  gap: 0.5em;
  z-index: 1;

  /* Appearance */
  font-size: 0.9em;
  color: gray;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.6);
  pointer-events: none;

  .sc-stat {
    display: inline-flex;
    gap: 0.25em;
    align-items: center;

    .fa {
      font-size: 0.7em;
    }
  }
}

.sc-external-link {
  /* Position */
  position: absolute;
  top: 0.8em;
  right: 0.3em;
  z-index: 1;
  padding: 0.1em 0.25em;
  display: inline-flex;
  gap: 0.3em;

  /* Appearance */
  color: var(--soundcloud) !important;
  font-size: 1em;
  font-weight: bold;
  border-radius: 4px;
  outline: var(--soundcloud) solid 1px;
  background-color: rgba(0, 0, 0, 0.55);
  filter: brightness(75%) saturate(90%);

  &:hover {
    filter: none;
  }
}
