.tree {
  line-height: 1.5em;

  ol {
    list-style: none;
    padding: 0px;
    margin: 0px;
  }

  li > ol {
    margin-left: 45px;
  }

  .tree-row {
    padding: 0px 10px;
  }

  .left-icon {
    margin-right: 0.5em;
  }

  .right-side {
    float: right;
  }

  .tooltiptext {
    top: 2em;
    left: 0px;
    margin-left: 10px;

    &&::after {
      left: 0.3em;
    }
  }
}
